.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop1-desktop1 {
  width: 100%;
  height: 3255px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(235, 254, 255, 1);
}
.desktop1-navbar {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-rectangle6 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 100px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
}
.desktop1-text10 {
  top: 30px;
  left: 144px;
  color: rgba(0, 0, 0, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Sora;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame1 {
  gap: 50px;
  top: 31.94444465637207px;
  left: 641px;
  width: 655px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.desktop1-text12 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text14 {
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text16 {
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text18 {
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text20 {
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame41 {
  gap: 80px;
  top: 181px;
  left: 0px;
  width: 1440px;
  height: 2296px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.desktop1-header {
  width: 1150px;
  height: 524px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-group3 {
  top: 109px;
  left: 2px;
  width: 651px;
  height: 166px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-text22 {
  color: rgba(69, 123, 157, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text24 {
  top: 42px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: left;
  font-family: Sora;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text26 {
  top: 116px;
  color: rgba(0, 0, 0, 0.800000011920929);
  width: 651px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group1 {
  top: 320px;
  left: 0px;
  width: 274px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(69, 123, 157, 1);
}
.desktop1-downloadfromthe-cloud {
  top: 17px;
  left: 200px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.desktop1-text28 {
  top: 22px;
  left: 45px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group2 {
  top: 320px;
  left: 294px;
  width: 274px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(69, 123, 157, 0.10000000149011612);
}
.desktop1-text30 {
  top: 20px;
  left: 70px;
  color: rgba(69, 123, 157, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle14 {
  top: 84px;
  left: 671px;
  width: 479px;
  height: 390px;
  position: absolute;
  border-radius: 40px;
}
.desktop1-myproject112 {
  top: -50px;
  left: 708px;
  width: 405px;
  height: 525px;
  position: absolute;
  border-radius: 15px;
}
.desktop1-about {
  width: 1440px;
  height: 616px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-rectangle11 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 616px;
  position: absolute;
}
.desktop1-codetypingamico1 {
  top: 58px;
  left: 145px;
  width: 500px;
  height: 500px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-freepik-floorinject26 {
  top: 230.02999877929688px;
  left: 27.5px;
  width: 445px;
  height: 256.9200134277344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-vector100 {
  top: 0px;
  left: 0px;
  width: 445px;
  height: 257px;
  position: absolute;
}
.desktop1-freepik-shadowsinject26 {
  top: 291.419677734375px;
  left: 70.94999694824219px;
  width: 327.2434997558594px;
  height: 159.61773681640625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-vector101 {
  top: 64.12033081054688px;
  left: 0px;
  width: 49px;
  height: 28px;
  position: absolute;
}
.desktop1-vector102 {
  top: 0px;
  left: 50.366493225097656px;
  width: 277px;
  height: 160px;
  position: absolute;
}
.desktop1-vector103 {
  top: 1.114776611328125px;
  left: 96.61549377441406px;
  width: 120px;
  height: 75px;
  position: absolute;
}
.desktop1-freepik-plantinject26 {
  top: 268.07000732421875px;
  left: 58.310001373291016px;
  width: 75.81999969482422px;
  height: 105.60000610351562px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-vector104 {
  top: 0px;
  left: 29.345333099365234px;
  width: 33px;
  height: 65px;
  position: absolute;
}
.desktop1-vector105 {
  top: 0px;
  left: 29.345333099365234px;
  width: 33px;
  height: 65px;
  opacity: 0.40;
  position: absolute;
}
.desktop1-vector106 {
  top: 15.679931640625px;
  left: 34.98239517211914px;
  width: 7px;
  height: 49px;
  position: absolute;
}
.desktop1-vector107 {
  top: 68.8599853515625px;
  left: 18.549335479736328px;
  width: 37px;
  height: 37px;
  position: absolute;
}
.desktop1-vector108 {
  top: 59.04998779296875px;
  left: 18.549999237060547px;
  width: 37px;
  height: 20px;
  position: absolute;
}
.desktop1-vector109 {
  top: 61.910003662109375px;
  left: 22.689998626708984px;
  width: 29px;
  height: 9px;
  position: absolute;
}
.desktop1-vector110 {
  top: 66.42999267578125px;
  left: 23.45999526977539px;
  width: 28px;
  height: 10px;
  position: absolute;
}
.desktop1-vector111 {
  top: 24.470001220703125px;
  left: 0px;
  width: 42px;
  height: 48px;
  position: absolute;
}
.desktop1-vector112 {
  top: 29.079986572265625px;
  left: 13.21999740600586px;
  width: 25px;
  height: 44px;
  position: absolute;
}
.desktop1-vector113 {
  top: 32.620513916015625px;
  left: 34.37759017944336px;
  width: 41px;
  height: 40px;
  position: absolute;
}
.desktop1-vector114 {
  top: 32.620513916015625px;
  left: 34.37759017944336px;
  width: 41px;
  height: 40px;
  opacity: 0.20;
  position: absolute;
}
.desktop1-vector115 {
  top: 35.600006103515625px;
  left: 37.36594772338867px;
  width: 26px;
  height: 37px;
  position: absolute;
}
.desktop1-freepik-picturesinject26 {
  top: 56.470001220703125px;
  left: 83.58000183105469px;
  width: 59.69000244140625px;
  height: 137.49000549316406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-vector116 {
  top: 62.93000030517578px;
  left: 2.2999954223632812px;
  width: 43px;
  height: 75px;
  position: absolute;
}
.desktop1-vector117 {
  top: 61.58000183105469px;
  left: 0px;
  width: 45px;
  height: 76px;
  position: absolute;
}
.desktop1-vector118 {
  top: 62.93000030517578px;
  left: 2.3300018310546875px;
  width: 43px;
  height: 75px;
  position: absolute;
}
.desktop1-vector119 {
  top: 93.22999572753906px;
  left: 6.459999084472656px;
  width: 33px;
  height: 27px;
  position: absolute;
}
.desktop1-vector120 {
  top: 83.5128173828125px;
  left: 21.720001220703125px;
  width: 6px;
  height: 8px;
  position: absolute;
}
.desktop1-vector121 {
  top: 1.0799980163574219px;
  left: 25.409996032714844px;
  width: 34px;
  height: 59px;
  position: absolute;
}
.desktop1-vector122 {
  top: 0px;
  left: 23.54999542236328px;
  width: 36px;
  height: 60px;
  position: absolute;
}
.desktop1-vector123 {
  top: 1.0699996948242188px;
  left: 25.419998168945312px;
  width: 34px;
  height: 59px;
  position: absolute;
}
.desktop1-vector124 {
  top: 25.209999084472656px;
  left: 28.720001220703125px;
  width: 26px;
  height: 21px;
  position: absolute;
}
.desktop1-vector125 {
  top: 17.474769592285156px;
  left: 40.93000030517578px;
  width: 5px;
  height: 6px;
  position: absolute;
}
.desktop1-freepik-characterinject26 {
  top: 116.4841537475586px;
  left: 140px;
  width: 239.5px;
  height: 329.5828857421875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-vector126 {
  top: 166.43585205078125px;
  left: 76.14999389648438px;
  width: 19px;
  height: 91px;
  position: absolute;
}
.desktop1-vector127 {
  top: 137.88583374023438px;
  left: 124.17001342773438px;
  width: 19px;
  height: 91px;
  position: absolute;
}
.desktop1-vector128 {
  top: 149.995849609375px;
  left: 36.64701843261719px;
  width: 18px;
  height: 75px;
  position: absolute;
}
.desktop1-vector129 {
  top: 122.70584869384766px;
  left: 85.28843688964844px;
  width: 18px;
  height: 75px;
  position: absolute;
}
.desktop1-vector130 {
  top: 45.34239959716797px;
  left: 28.970596313476562px;
  width: 111px;
  height: 131px;
  position: absolute;
}
.desktop1-vector131 {
  top: 45.34239959716797px;
  left: 28.970596313476562px;
  width: 111px;
  height: 131px;
  opacity: 0.50;
  position: absolute;
}
.desktop1-vector132 {
  top: 44.17322540283203px;
  left: 24.640594482421875px;
  width: 115px;
  height: 137px;
  position: absolute;
}
.desktop1-vector133 {
  top: 44.17322540283203px;
  left: 24.640594482421875px;
  width: 115px;
  height: 137px;
  opacity: 0.60;
  position: absolute;
}
.desktop1-vector134 {
  top: 102.6358413696289px;
  left: 78.86137390136719px;
  width: 79px;
  height: 107px;
  position: absolute;
}
.desktop1-vector135 {
  top: 102.5958480834961px;
  left: 78.86137390136719px;
  width: 79px;
  height: 107px;
  opacity: 0.70;
  position: absolute;
}
.desktop1-vector136 {
  top: 205.78582763671875px;
  left: 144.80999755859375px;
  width: 33px;
  height: 36px;
  position: absolute;
}
.desktop1-vector137 {
  top: 217.34124755859375px;
  left: 145.60317993164062px;
  width: 41px;
  height: 25px;
  position: absolute;
}
.desktop1-vector138 {
  top: 232.33584594726562px;
  left: 145.5623779296875px;
  width: 41px;
  height: 12px;
  position: absolute;
}
.desktop1-vector139 {
  top: 119.5158462524414px;
  left: 47.696197509765625px;
  width: 80px;
  height: 107px;
  position: absolute;
}
.desktop1-vector140 {
  top: 119.5158462524414px;
  left: 47.696197509765625px;
  width: 80px;
  height: 107px;
  opacity: 0.70;
  position: absolute;
}
.desktop1-vector141 {
  top: 223.14584350585938px;
  left: 114.22999572753906px;
  width: 16px;
  height: 24px;
  position: absolute;
}
.desktop1-vector142 {
  top: 44.872169494628906px;
  left: 90.52000427246094px;
  width: 33px;
  height: 60px;
  position: absolute;
}
.desktop1-vector143 {
  top: 44.83013153076172px;
  left: 90.52000427246094px;
  width: 19px;
  height: 41px;
  position: absolute;
}
.desktop1-vector144 {
  top: 44.83013153076172px;
  left: 90.52000427246094px;
  width: 19px;
  height: 41px;
  opacity: 0.20;
  position: absolute;
}
.desktop1-vector145 {
  top: 86.23584747314453px;
  left: 105.24000549316406px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.desktop1-vector146 {
  top: 44.87409210205078px;
  left: 47.990478515625px;
  width: 53px;
  height: 88px;
  position: absolute;
}
.desktop1-vector147 {
  top: 11.515846252441406px;
  left: 99.60003662109375px;
  width: 8px;
  height: 19px;
  position: absolute;
}
.desktop1-vector148 {
  top: 82.00585174560547px;
  left: 0px;
  width: 239px;
  height: 248px;
  position: absolute;
}
.desktop1-vector149 {
  top: 325.1187744140625px;
  left: 87.81748962402344px;
  width: 8px;
  height: 4px;
  position: absolute;
}
.desktop1-vector150 {
  top: 234.30584716796875px;
  left: 87.83000183105469px;
  width: 8px;
  height: 93px;
  position: absolute;
}
.desktop1-vector151 {
  top: 273.55584716796875px;
  left: 0.0099945068359375px;
  width: 8px;
  height: 4px;
  position: absolute;
}
.desktop1-vector152 {
  top: 182.745849609375px;
  left: 0.0099945068359375px;
  width: 8px;
  height: 93px;
  position: absolute;
}
.desktop1-vector153 {
  top: 241.70880126953125px;
  left: 231.76748657226562px;
  width: 8px;
  height: 4px;
  position: absolute;
}
.desktop1-vector154 {
  top: 150.90585327148438px;
  left: 231.77999877929688px;
  width: 8px;
  height: 93px;
  position: absolute;
}
.desktop1-vector155 {
  top: 171.76312255859375px;
  left: 138.08749389648438px;
  width: 7px;
  height: 4px;
  position: absolute;
}
.desktop1-vector156 {
  top: 96.11585235595703px;
  left: 138.04998779296875px;
  width: 7px;
  height: 78px;
  position: absolute;
}
.desktop1-vector157 {
  top: 167.3458251953125px;
  left: 0px;
  width: 92px;
  height: 71px;
  position: absolute;
}
.desktop1-vector158 {
  top: 134.94583129882812px;
  left: 91.69000244140625px;
  width: 148px;
  height: 104px;
  position: absolute;
}
.desktop1-vector159 {
  top: 82.00585174560547px;
  left: 0px;
  width: 239px;
  height: 138px;
  position: absolute;
}
.desktop1-vector160 {
  top: 106.87584686279297px;
  left: 73.66000366210938px;
  width: 90px;
  height: 52px;
  position: absolute;
}
.desktop1-vector161 {
  top: 122.2258529663086px;
  left: 95.75999450683594px;
  width: 21px;
  height: 12px;
  position: absolute;
}
.desktop1-vector162 {
  top: 124.05583953857422px;
  left: 91.72000122070312px;
  width: 33px;
  height: 30px;
  position: absolute;
}
.desktop1-vector163 {
  top: 91.79584503173828px;
  left: 107.84823608398438px;
  width: 45px;
  height: 23px;
  position: absolute;
}
.desktop1-vector164 {
  top: 105.7658462524414px;
  left: 123.489990234375px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.desktop1-vector165 {
  top: 30.325843811035156px;
  left: 72.66000366210938px;
  width: 16px;
  height: 19px;
  position: absolute;
}
.desktop1-vector166 {
  top: 30.325843811035156px;
  left: 74px;
  width: 15px;
  height: 19px;
  position: absolute;
}
.desktop1-vector167 {
  top: 4.145599365234375px;
  left: 69.79718017578125px;
  width: 36px;
  height: 44px;
  position: absolute;
}
.desktop1-vector168 {
  top: 26.93584442138672px;
  left: 94.28999328613281px;
  width: 5px;
  height: 9px;
  position: absolute;
}
.desktop1-vector169 {
  top: 24.522789001464844px;
  left: 87.20674133300781px;
  width: 3px;
  height: 4px;
  position: absolute;
}
.desktop1-vector170 {
  top: 24.012184143066406px;
  left: 98.75675964355469px;
  width: 4px;
  height: 3px;
  position: absolute;
}
.desktop1-vector171 {
  top: 19.31513214111328px;
  left: 99.57000732421875px;
  width: 3px;
  height: 3px;
  position: absolute;
}
.desktop1-vector172 {
  top: 21.023277282714844px;
  left: 84.80387878417969px;
  width: 4px;
  height: 3px;
  position: absolute;
}
.desktop1-vector173 {
  top: 37.135841369628906px;
  left: 88.95457458496094px;
  width: 6px;
  height: 4px;
  position: absolute;
}
.desktop1-vector174 {
  top: 0px;
  left: 64.75282287597656px;
  width: 47px;
  height: 42px;
  position: absolute;
}
.desktop1-vector175 {
  top: 23.73339080810547px;
  left: 63.59202575683594px;
  width: 10px;
  height: 14px;
  position: absolute;
}
.desktop1-vector176 {
  top: 117.38407135009766px;
  left: 65.94442749023438px;
  width: 39px;
  height: 28px;
  position: absolute;
}
.desktop1-vector177 {
  top: 54.725852966308594px;
  left: 40.16734313964844px;
  width: 34px;
  height: 74px;
  position: absolute;
}
.desktop1-vector178 {
  top: 104.39505767822266px;
  left: 52.350006103515625px;
  width: 6px;
  height: 2px;
  position: absolute;
}
.desktop1-vector179 {
  top: 87.64415740966797px;
  left: 106.86947631835938px;
  width: 64px;
  height: 74px;
  position: absolute;
}
.desktop1-vector180 {
  top: 139.55584716796875px;
  left: 73.64999389648438px;
  width: 34px;
  height: 22px;
  position: absolute;
}
.desktop1-vector181 {
  top: 118.51329803466797px;
  left: 137.3699951171875px;
  width: 9px;
  height: 11px;
  position: absolute;
}
.desktop1-vector182 {
  top: 6.3265380859375px;
  left: 71.63304138183594px;
  width: 2px;
  height: 5px;
  position: absolute;
}
.desktop1-vector183 {
  top: 9.006423950195312px;
  left: 69.05807495117188px;
  width: 5px;
  height: 4px;
  position: absolute;
}
.desktop1-vector184 {
  top: 49.645851135253906px;
  left: 72.66000366210938px;
  width: 17px;
  height: 8px;
  position: absolute;
}
.desktop1-vector185 {
  top: 54.725852966308594px;
  left: 41.22993469238281px;
  width: 25px;
  height: 47px;
  position: absolute;
}
.desktop1-vector186 {
  top: 54.725852966308594px;
  left: 41.22993469238281px;
  width: 25px;
  height: 47px;
  opacity: 0.20;
  position: absolute;
}
.desktop1-vector187 {
  top: 234.05874633789062px;
  left: 116.01199340820312px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.desktop1-vector188 {
  top: 246.73583984375px;
  left: 117.3699951171875px;
  width: 31px;
  height: 21px;
  position: absolute;
}
.desktop1-vector189 {
  top: 174.96588134765625px;
  left: 54.13999938964844px;
  width: 54px;
  height: 32px;
  position: absolute;
}
.desktop1-vector190 {
  top: 174.96588134765625px;
  left: 54.13999938964844px;
  width: 54px;
  height: 32px;
  opacity: 0.70;
  position: absolute;
}
.desktop1-vector191 {
  top: 175.66360473632812px;
  left: 56.22999572753906px;
  width: 51px;
  height: 29px;
  position: absolute;
}
.desktop1-vector192 {
  top: 189.475830078125px;
  left: 84.33999633789062px;
  width: 23px;
  height: 16px;
  position: absolute;
}
.desktop1-vector193 {
  top: 186.29583740234375px;
  left: 56.22999572753906px;
  width: 28px;
  height: 19px;
  position: absolute;
}
.desktop1-vector194 {
  top: 170.97589111328125px;
  left: 54.13999938964844px;
  width: 54px;
  height: 32px;
  position: absolute;
}
.desktop1-vector195 {
  top: 170.97589111328125px;
  left: 54.13999938964844px;
  width: 54px;
  height: 32px;
  opacity: 0.50;
  position: absolute;
}
.desktop1-vector196 {
  top: 198.3372802734375px;
  left: 79.53999328613281px;
  width: 4px;
  height: 7px;
  position: absolute;
}
.desktop1-vector197 {
  top: 195.86727905273438px;
  left: 75.07000732421875px;
  width: 4px;
  height: 7px;
  position: absolute;
}
.desktop1-vector198 {
  top: 193.22726440429688px;
  left: 70.60000610351562px;
  width: 4px;
  height: 7px;
  position: absolute;
}
.desktop1-vector199 {
  top: 190.65728759765625px;
  left: 66.1300048828125px;
  width: 4px;
  height: 7px;
  position: absolute;
}
.desktop1-vector200 {
  top: 188.12728881835938px;
  left: 61.660003662109375px;
  width: 4px;
  height: 7px;
  position: absolute;
}
.desktop1-vector201 {
  top: 185.48721313476562px;
  left: 57.19000244140625px;
  width: 4px;
  height: 7px;
  position: absolute;
}
.desktop1-vector202 {
  top: 163.03582763671875px;
  left: 51.82000732421875px;
  width: 60px;
  height: 34px;
  position: absolute;
}
.desktop1-vector203 {
  top: 159.79583740234375px;
  left: 53.88999938964844px;
  width: 59px;
  height: 35px;
  position: absolute;
}
.desktop1-vector204 {
  top: 142.26583862304688px;
  left: 30.550003051757812px;
  width: 22px;
  height: 28px;
  position: absolute;
}
.desktop1-vector205 {
  top: 133.86334228515625px;
  left: 29.149993896484375px;
  width: 25px;
  height: 14px;
  position: absolute;
}
.desktop1-vector206 {
  top: 132.11959838867188px;
  left: 29.15374755859375px;
  width: 25px;
  height: 14px;
  position: absolute;
}
.desktop1-vector207 {
  top: 132.8115234375px;
  left: 31.6300048828125px;
  width: 20px;
  height: 11px;
  position: absolute;
}
.desktop1-vector208 {
  top: 131.39154052734375px;
  left: 31.629989624023438px;
  width: 20px;
  height: 11px;
  position: absolute;
}
.desktop1-vector209 {
  top: 132.475341796875px;
  left: 33.88093566894531px;
  width: 15px;
  height: 9px;
  position: absolute;
}
.desktop1-vector210 {
  top: 132.46218872070312px;
  left: 33.89179992675781px;
  width: 15px;
  height: 5px;
  position: absolute;
}
.desktop1-vector211 {
  top: 132.88583374023438px;
  left: 35.839996337890625px;
  width: 4px;
  height: 3px;
  position: absolute;
}
.desktop1-freepik-screeninject26 {
  top: 42.48487091064453px;
  left: 276.53289794921875px;
  width: 169.3573760986328px;
  height: 192.5172576904297px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-vector212 {
  top: 0px;
  left: 31.9171142578125px;
  width: 137px;
  height: 192px;
  position: absolute;
}
.desktop1-vector213 {
  top: 0px;
  left: 31.9171142578125px;
  width: 137px;
  height: 192px;
  opacity: 0.30;
  position: absolute;
}
.desktop1-vector214 {
  top: 2.9170684814453125px;
  left: 30.60711669921875px;
  width: 134px;
  height: 190px;
  position: absolute;
}
.desktop1-vector215 {
  top: 2.9170684814453125px;
  left: 30.60711669921875px;
  width: 134px;
  height: 190px;
  position: absolute;
}
.desktop1-vector216 {
  top: 2.9170684814453125px;
  left: 30.60711669921875px;
  width: 134px;
  height: 87px;
  position: absolute;
}
.desktop1-vector217 {
  top: 2.915130615234375px;
  left: 30.617095947265625px;
  width: 134px;
  height: 190px;
  position: absolute;
}
.desktop1-vector218 {
  top: 28.117210388183594px;
  left: 39.941131591796875px;
  width: 49px;
  height: 29px;
  position: absolute;
}
.desktop1-vector219 {
  top: 73.66338348388672px;
  left: 118.83535766601562px;
  width: 37px;
  height: 22px;
  position: absolute;
}
.desktop1-vector220 {
  top: 61.00304412841797px;
  left: 96.87307739257812px;
  width: 16px;
  height: 10px;
  position: absolute;
}
.desktop1-vector221 {
  top: 94.48722076416016px;
  left: 39.941131591796875px;
  width: 49px;
  height: 29px;
  position: absolute;
}
.desktop1-vector222 {
  top: 140.03338623046875px;
  left: 118.83535766601562px;
  width: 37px;
  height: 22px;
  position: absolute;
}
.desktop1-vector223 {
  top: 127.37303924560547px;
  left: 96.87307739257812px;
  width: 16px;
  height: 10px;
  position: absolute;
}
.desktop1-vector224 {
  top: 110.04338836669922px;
  left: 39.8753662109375px;
  width: 50px;
  height: 29px;
  position: absolute;
}
.desktop1-vector225 {
  top: 155.60305786132812px;
  left: 118.7730712890625px;
  width: 22px;
  height: 14px;
  position: absolute;
}
.desktop1-vector226 {
  top: 143.01339721679688px;
  left: 96.93536376953125px;
  width: 16px;
  height: 10px;
  position: absolute;
}
.desktop1-vector227 {
  top: 36.45414733886719px;
  left: 40.052764892578125px;
  width: 26px;
  height: 16px;
  position: absolute;
}
.desktop1-vector228 {
  top: 69.25304412841797px;
  left: 96.87307739257812px;
  width: 37px;
  height: 22px;
  position: absolute;
}
.desktop1-vector229 {
  top: 55.64337921142578px;
  left: 73.33535766601562px;
  width: 16px;
  height: 10px;
  position: absolute;
}
.desktop1-vector230 {
  top: 44.646888732910156px;
  left: 40.032928466796875px;
  width: 49px;
  height: 29px;
  position: absolute;
}
.desktop1-vector231 {
  top: 90.12303924560547px;
  left: 118.7730712890625px;
  width: 12px;
  height: 8px;
  position: absolute;
}
.desktop1-vector232 {
  top: 63.83338928222656px;
  left: 58.93536376953125px;
  width: 12px;
  height: 8px;
  position: absolute;
}
.desktop1-vector233 {
  top: 77.53338623046875px;
  left: 96.93536376953125px;
  width: 16px;
  height: 10px;
  position: absolute;
}
.desktop1-vector234 {
  top: 52.857215881347656px;
  left: 39.941131591796875px;
  width: 17px;
  height: 11px;
  position: absolute;
}
.desktop1-vector235 {
  top: 72.10304260253906px;
  left: 73.2730712890625px;
  width: 16px;
  height: 10px;
  position: absolute;
}
.desktop1-vector236 {
  top: 61.70721435546875px;
  left: 39.941131591796875px;
  width: 49px;
  height: 29px;
  position: absolute;
}
.desktop1-vector237 {
  top: 107.27338409423828px;
  left: 118.83535766601562px;
  width: 37px;
  height: 22px;
  position: absolute;
}
.desktop1-vector238 {
  top: 94.5930404663086px;
  left: 96.87307739257812px;
  width: 16px;
  height: 10px;
  position: absolute;
}
.desktop1-vector239 {
  top: 69.91338348388672px;
  left: 39.8753662109375px;
  width: 26px;
  height: 16px;
  position: absolute;
}
.desktop1-vector240 {
  top: 102.8733901977539px;
  left: 96.93536376953125px;
  width: 37px;
  height: 22px;
  position: absolute;
}
.desktop1-vector241 {
  top: 89.19304656982422px;
  left: 73.2730712890625px;
  width: 16px;
  height: 10px;
  position: absolute;
}
.desktop1-vector242 {
  top: 78.19721221923828px;
  left: 39.941131591796875px;
  width: 49px;
  height: 29px;
  position: absolute;
}
.desktop1-vector243 {
  top: 123.71305084228516px;
  left: 118.7730712890625px;
  width: 12px;
  height: 8px;
  position: absolute;
}
.desktop1-vector244 {
  top: 97.42339324951172px;
  left: 58.93536376953125px;
  width: 12px;
  height: 8px;
  position: absolute;
}
.desktop1-vector245 {
  top: 111.1233901977539px;
  left: 96.93536376953125px;
  width: 16px;
  height: 10px;
  position: absolute;
}
.desktop1-vector246 {
  top: 86.37535858154297px;
  left: 39.862335205078125px;
  width: 17px;
  height: 11px;
  position: absolute;
}
.desktop1-vector247 {
  top: 105.72338104248047px;
  left: 73.33535766601562px;
  width: 16px;
  height: 10px;
  position: absolute;
}
.desktop1-vector248 {
  top: 113.19304656982422px;
  left: 58.89306640625px;
  width: 12px;
  height: 8px;
  position: absolute;
}
.desktop1-vector249 {
  top: 102.21338653564453px;
  left: 39.8753662109375px;
  width: 17px;
  height: 11px;
  position: absolute;
}
.desktop1-vector250 {
  top: 121.53339385986328px;
  left: 73.33535766601562px;
  width: 16px;
  height: 10px;
  position: absolute;
}
.desktop1-vector251 {
  top: 38.93512725830078px;
  left: 48.067108154296875px;
  width: 2px;
  height: 42px;
  position: absolute;
}
.desktop1-vector252 {
  top: 11.075130462646484px;
  left: 0.46710205078125px;
  width: 50px;
  height: 29px;
  position: absolute;
}
.desktop1-vector253 {
  top: 12.062328338623047px;
  left: 0.190399169921875px;
  width: 48px;
  height: 68px;
  position: absolute;
}
.desktop1-text32 {
  top: 40.065277099609375px;
  left: 40.4171142578125px;
  color: rgba(250, 250, 250, 1);
  height: auto;
  position: absolute;
  font-size: 25.844240188598633px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-vector254 {
  top: 11.895130157470703px;
  left: 0px;
  width: 49px;
  height: 69px;
  position: absolute;
}
.desktop1-vector255 {
  top: 9.920928955078125px;
  left: 39.507110595703125px;
  width: 3px;
  height: 4px;
  position: absolute;
}
.desktop1-vector256 {
  top: 13.836551666259766px;
  left: 45.85711669921875px;
  width: 3px;
  height: 4px;
  position: absolute;
}
.desktop1-vector257 {
  top: 17.77092742919922px;
  left: 52.21710205078125px;
  width: 3px;
  height: 4px;
  position: absolute;
}
.desktop1-group6 {
  top: 129px;
  left: 732px;
  width: 564px;
  height: 358px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-text33 {
  color: rgba(69, 123, 157, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Sora;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text35 {
  top: 120px;
  color: rgba(69, 90, 100, 1);
  width: 564px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: justified;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text37 {
  top: 45px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: justified;
  font-family: Sora;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-skills {
  width: 873px;
  height: 281px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-text39 {
  left: 392px;
  color: rgba(69, 123, 157, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: SemiBold;
  text-align: justified;
  font-family: Sora;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text41 {
  top: 66px;
  left: 165px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: justified;
  font-family: Sora;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame2 {
  gap: 30px;
  top: 152px;
  left: 10.5px;
  width: 852px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.desktop1-logohtml1 {
  width: 102px;
  height: 107px;
}
.desktop1css-logo1 {
  width: 91px;
  height: 101px;
}
.desktop1-bootstraplogo1 {
  width: 101px;
  height: 101px;
}
.desktop1-tailwindcsslogo1 {
  width: 134px;
  height: 89px;
}
.desktop1-php-png311 {
  width: 166px;
  height: 97px;
}
.desktop1-laravellogo1 {
  width: 108px;
  height: 129px;
}
.desktop1-projects {
  width: 1440px;
  height: 635px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
}
.desktop1-rectangle12 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1036px;
  position: absolute;
}
.desktop1-text43 {
  top: 73px;
  left: 651px;
  color: rgba(69, 123, 157, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: SemiBold;
  text-align: justified;
  font-family: Sora;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text45 {
  top: 141px;
  left: 489px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: justified;
  font-family: Sora;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame3 {
  gap: 30px;
  top: 255.5px;
  left: 145px;
  width: 1149px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.desktop1-group71 {
  width: 363px;
  height: 310px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-rectangle131 {
  top: 0px;
  left: 0px;
  width: 362px;
  height: 310px;
  position: absolute;
  border-radius: 10px;
}
.desktop1-image11 {
  top: 0px;
  left: 0px;
  width: 363px;
  height: 198px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-radius: 10px 10px 0 0;
}
.desktop1-text47 {
  top: 214px;
  left: 18px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: justified;
  font-family: Sora;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text49 {
  top: 245px;
  left: 18px;
  color: rgba(0, 0, 0, 0.699999988079071);
  width: 302px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: justified;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text51 {
  top: 269px;
  left: 18px;
  color: rgba(69, 123, 157, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: justified;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group81 {
  width: 363px;
  height: 310px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-rectangle132 {
  top: 0px;
  left: 0px;
  width: 362px;
  height: 310px;
  position: absolute;
  border-radius: 10px;
}
.desktop1-image12 {
  top: 0px;
  left: 0px;
  width: 363px;
  height: 198px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-radius: 10px 10px 0 0;
}
.desktop1-text53 {
  top: 214px;
  left: 18px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: justified;
  font-family: Sora;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text55 {
  top: 245px;
  left: 18px;
  color: rgba(0, 0, 0, 0.699999988079071);
  width: 302px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: justified;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text57 {
  top: 269.5px;
  left: 170px;
  color: rgba(69, 123, 157, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: justified;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text59 {
  top: 269.5px;
  left: 18px;
  color: rgba(69, 123, 157, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: justified;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text61 {
  top: 269.5px;
  left: 102px;
  color: rgba(69, 123, 157, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: justified;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group91 {
  width: 363px;
  height: 310px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-rectangle133 {
  top: 0px;
  left: 0px;
  width: 362px;
  height: 310px;
  position: absolute;
  border-radius: 10px;
}
.desktop1-image13 {
  top: 0.5px;
  left: 0px;
  width: 363px;
  height: 198px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-radius: 10px 10px 0 0;
}
.desktop1-text63 {
  top: 214px;
  left: 18px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: justified;
  font-family: Sora;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text65 {
  top: 245px;
  left: 18px;
  color: rgba(0, 0, 0, 0.699999988079071);
  width: 302px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: justified;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text67 {
  top: 269.5px;
  left: 18px;
  color: rgba(69, 123, 157, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: justified;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text69 {
  top: 269.5px;
  left: 102px;
  color: rgba(69, 123, 157, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: justified;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-frame42 {
  gap: 30px;
  top: 635px;
  left: 145px;
  width: 1149px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.desktop1-group72 {
  width: 363px;
  height: 310px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-rectangle134 {
  top: 0px;
  left: 0px;
  width: 362px;
  height: 310px;
  position: absolute;
  border-radius: 10px;
}
.desktop1-image14 {
  top: 0px;
  left: 0px;
  width: 363px;
  height: 198px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-radius: 10px 10px 0 0;
}
.desktop1-text71 {
  top: 214px;
  left: 18px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: justified;
  font-family: Sora;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text73 {
  top: 245px;
  left: 18px;
  color: rgba(0, 0, 0, 0.699999988079071);
  width: 302px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: justified;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text75 {
  top: 269px;
  left: 18px;
  color: rgba(69, 123, 157, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: justified;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group82 {
  width: 363px;
  height: 310px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-rectangle135 {
  top: 0px;
  left: 0px;
  width: 362px;
  height: 310px;
  position: absolute;
  border-radius: 10px;
}
.desktop1-image15 {
  top: 0px;
  left: 0px;
  width: 363px;
  height: 198px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-radius: 10px 10px 0 0;
}
.desktop1-text77 {
  top: 214px;
  left: 18px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: justified;
  font-family: Sora;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text79 {
  top: 245px;
  left: 18px;
  color: rgba(0, 0, 0, 0.699999988079071);
  width: 302px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: justified;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text81 {
  top: 269px;
  left: 18px;
  color: rgba(69, 123, 157, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: justified;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group92 {
  width: 363px;
  height: 310px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-rectangle136 {
  top: 0px;
  left: 0px;
  width: 362px;
  height: 310px;
  position: absolute;
  border-radius: 10px;
}
.desktop1-image16 {
  top: 0px;
  left: 0px;
  width: 363px;
  height: 198px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-radius: 10px 10px 0 0;
}
.desktop1-text83 {
  top: 214px;
  left: 18px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: justified;
  font-family: Sora;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text85 {
  top: 245px;
  left: 18px;
  color: rgba(0, 0, 0, 0.699999988079071);
  width: 302px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: justified;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text87 {
  top: 269px;
  left: 18px;
  color: rgba(69, 123, 157, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: justified;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-footer {
  top: 2925px;
  left: 145px;
  width: 579px;
  height: 294px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-text89 {
  top: 115.719970703125px;
  color: rgba(0, 0, 0, 1);
  width: 218px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: justified;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-linked-in {
  top: 148.359130859375px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.desktop1-git-hub {
  top: 148.359130859375px;
  left: 57px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.desktop1-instagram {
  top: 148.359130859375px;
  left: 114px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.desktop1-text91 {
  top: 269px;
  color: rgba(0, 0, 0, 1);
  width: 579px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: justified;
  font-family: Sora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text93 {
  top: 45.49658203125px;
  color: rgba(0, 0, 0, 1);
  width: 304px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: justified;
  font-family: Sora;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text95 {
  color: rgba(69, 123, 157, 1);
  width: 133px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: SemiBold;
  text-align: justified;
  font-family: Sora;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
